{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel = "stylesheet" href = "{% static 'css/list.css' %}">
{% endblock header %}

{% block content %}
<div class = "jumbotron">
    <h1 class = "display-4">About</h>
    <p class = "lead"></p>詳細です</p>
</div>

<div class='container'>
    <div class='container'></div>
    <h1>{{ member_db.name }}</h1>
    <p>学籍番号　：{{ member_db.number }}</p>
    <p>学年　　　：{{ member_db.grade }}</p>
    <p>所属　　　：{{ member_db.group }}</p>
    <p>性別　　　：{{ member_db.se }}</p>
    <p>連絡先　　：{{ member_db.adre }}</p>
    
    <div class='card'>
        <h3 class = "card-header">備考</h3>
        <div class = 'card-body'>
            <p>{{ member_db.content | linebreaksbr }}</p>
        </div>
    </div>
    <a href="{% url 'memberlist' member_db.listpk %}" class="btn btn-primary">一覧へ</a>
    <a href="{% url 'update' member_db.pk %}" class="btn btn-primary">編集する</a>
    <a href="{% url 'delete' member_db.pk %}" class="btn btn-primary">削除する</a>
    </div>
</div>
{% endblock content %}